/* Remove all default browser styles */
:root {
    background: transparent;
    border: none;
    position: relative;
    margin: 0;
    padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: calc(1.1em + 0.5vw);
    font-size: calc(16px + 1vw);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.parent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	letter-spacing: 1px;
	word-spacing: 1px;
	font-weight: bold;
	background: purple;
	color: white;
	position: relative;
	padding: 20px;
}

.child {
	opacity: 1;
}

.child > h1 {
	color: aqua;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
}

.card-container {
	position: relative;
	width: 100%;
	margin: 5px;
}

.card-image {
	position: absolute;
	width: 100%;
	z-index: -1;
}

.card-body {
	position: absolute;
	width: 100%;
	background: black;
	opacity: 0.6;
	color: white;
	top: 8rem;
	text-align: center;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;

}

.card-heading {
	position: absolute;
	flex-wrap: nowrap;
}